/* CSS Document */

* {
	margin:0;
	padding:0;
}

p {
    margin: 7px 0 7px 0;
}

table .bordertable td {
    padding: 5px;
}

table .balancetable td {
    padding: 5px;
}

img {
	border:none;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#111111;
	
	
}

h1{ font-family:Arial, Verdana, Sans-serif; font-size:36px; color:#008BCB; font-weight:normal; padding-bottom:5px; margin-bottom:20px; letter-spacing:-1px; /* border-bottom:#008bcb solid 1px; */}

.div_product_title h1.product_name_big {font-size:16px; font-weight:bold; letter-spacing: normal; color: #362F2D !important; text-decoration: underline;} /*Free Market h2 fix*/

h2 {
	color: #008bcb;
	font-size: 36px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
}

li {
	list-style-position: inside; 
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

.grid_4  {width:220px;}
.grid_6  {margin-left: 40px; width:300px;}
.grid_8  {margin-left: 40px; margin-right: 40px; width:600px;}
.grid_12 {margin:0 auto; position:relative; width:920px;}

.omega {margin-right: 0;}

#skill-container {  }

#wrapper{background:#fff; width:1000px; margin:0 auto; -webkit-box-shadow: 0px 0px 10px 3px #c8d9e9; -moz-box-shadow: 0px 0px 10px 3px #c8d9e9; box-shadow: 0px 0px 10px 3px #c8d9e9; }
#sky{background:url(../images/ciel.png) repeat-x #ecf6ff;}

.hide{
	display:none;
	}
/* 
 * --------------- Style de Header ---------------
 */
#header{position:relative; z-index:1000; font-size:14px; line-height:1; clear:both; color:#333; height:105px;}
#header .logo-drop {width:280px; list-style: none; float:left}
#header .logo-drop li ul {display:none}
#header .logo-drop:hover ul {display:block !important}
#logo{height:100px; display:block; background:url(../images/menu.png); background-position:0px 0px; text-indent:-9999px;}
#header .grid_12.head {z-index:1000}

.wrap{margin:0 auto; position:relative; width:920px;}
.header{ background:url(hab/header.png) repeat-x top left; height:78px;}
.logo{ background:url(../images/menu.png) no-repeat top left; display:block; height:100px; left:20px; overflow:hidden; position:absolute; text-indent:-290486px; top:0; width:240px;}

/* Login box */
#login{cursor:pointer; margin:20px 0px 0px 0px; padding:10px 10px; border:#fff solid 1px; color:#333 !important; }
.login{ margin:0 auto; position: relative; display:block;  width:920px;}
#account{outline:none; float:right; margin:60px 0px 0px 0px; padding:7px 10px; border:#fff solid 1px; color:#333 !important; }
.account{ background:no-repeat top right; display:block; height:28px; position:absolute; right:100; top:25px; width:60px;}

#logout{cursor:pointer; margin:20px 0px 0px 0px; padding:10px 10px; border:#fff solid 1px; color:#999999 !important; }

#box-login{display:none; width:280px; position:absolute; top:57px; right:0px; border:#CCC solid 5px; background:#FFF; z-index:10; padding:25px 30px 10px 30px;}
#box-login .field{padding-bottom:10px !important;}
#box-login .remember{float:left; padding-top:12px;}
#username{width:260px;}
#passwd{width:190px;}
#box-login .forgot{position:absolute; top:8px; right:0px;}
#loginpermanent {vertical-align: middle;}
#box-login-icon { background-image:url(../images/icon_close1.png); position:absolute; top : 0; left: 0;}
#box-login a {color:#00CCCC;}
.field {position:relative;}
/* main tab */
.c9d-tabcnt{ margin:0 auto; position:relative; border:none; width:920px; background:#fff; border-top:none;

-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-o-border-radius-topleft: 10px;
	-o-border-top-left-radius: 10px;
	-ms-border-radius-topleft: 10px;
	-ms-border-top-left-radius: 10px;
	-khtml-border-radius-topleft: 10px;
	-khtml-border-top-left-radius: 10px;
 	border-top-left-radius: 10px;

-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-o-border-radius-topright: 10px;
	-o-border-top-right-radius: 10px;
	-ms-border-radius-topright: 10px;
	-ms-border-top-right-radius: 10px;
	-khtml-border-radius-topright: 10px;
	-khtml-border-top-right-radius: 10px;
	border-top-right-radius: 10px; 
}

/* Compétences */
#box-skills{display:none; width:250px; height:250px; position:absolute; top:51px; right:0px; border:#CCC solid 5px; background:#FFF; z-index:10; padding:25px 30px 10px 30px;}

#chosen-skill{background:#FFF; border:#CCC solid 2px; padding:25px 30px 10px 30px;}

.skill{cursor: pointer;}
/*
 * --------------- Table des Projets -------------------
 */

.dataTable {
	width: 920;
	clear: both;
    table-layout: fixed;
    font-size:12px;
}

.dataTable th {
    color:#FFFFFF;
    font-weight: bold;
    padding: 10px 5px;
    background-color: #0084C1;
}

.dataTable thead tr th:first-child {
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-o-border-radius-topleft: 10px;
	-o-border-top-left-radius: 10px;
	-ms-border-radius-topleft: 10px;
	-ms-border-top-left-radius: 10px;
	-khtml-border-radius-topleft: 10px;
	-khtml-border-top-left-radius: 10px;
 	border-top-left-radius: 10px;
}

.dataTable thead tr th:last-child { /* last-child supported in IE9, FF>3, Saf>4, Ch>4, Op>10.10 */	
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-o-border-radius-topright: 10px;
	-o-border-top-right-radius: 10px;
	-ms-border-radius-topright: 10px;
	-ms-border-top-right-radius: 10px;
	-khtml-border-radius-topright: 10px;
	-khtml-border-top-right-radius: 10px;
	border-top-right-radius: 10px; 
}

.dataTable td { padding: 10px 5px; }
.dataTable tr:hover{ padding: 10px 5px; background-color:#3399FF;}
.dataTable td.right { text-align: right; }
.dataTable tbody tr { height: 35px; }

/* Numbered paging pour la pagination des pages pas encore de paginate active */
.paginate_button {
	border: 1px solid #AAA;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    -o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
}

.paginate_button { background-color: #DDD; }
.paginate_button:hover { background-color: #CCC; }
.paginate_active { background-color: #99B3FF; }

/* 
 * --------------- Connexion ---------------
 */

#login{outline:none; float:right; margin:26px 0px 0px 0px; padding:7px 10px; border:#fff solid 1px; color:#333 !important; }

/* 
 * --------------- Navigation Principale ---------------
 */
#nav-main-login-wrap{outline:none; float:right; margin:26px 0px 0px 0px; height:40px; background:url(../images/menu.png) no-repeat 0 -250px; z-index:8; clear:both; font-size:14px; color:#333333;}
#nav-main-login{list-style:none; font-size:15px; margin-left:15px; position:relative;}
#nav-main-login a:hover{text-decoration:none;}
#nav-main-login li{float:left; position:relative;}
#nav-main-login li a{float:left; position:relative; padding:15px 15px; display:block; line-height: 18px; text-decoration: none;}
#nav-main-login li a:hover{color:#008cc9;}
#nav-main-login li.first{border-left:none;}
#nav-main-login li li.last{border-bottom:#009be2 solid 1px;}

#nav-main-wrap{height:50px; background:url(../images/menu.png) no-repeat 0 -140px;  position:relative; z-index:8; clear:both; font-size:14px; color:#333333;}
#nav-main{list-style:none; font-size:15px; margin-left:15px;}
#nav-main a:hover{text-decoration:none;}
#nav-main li{float:left; position:relative; border-right:#45b6ea solid 1px; border-top:solid 1px #009be2; border-bottom:solid 1px #31aee8; margin:0px;}
#nav-main li a{color:#ffffff; padding:15px 15px; display:block; cursor:pointer; line-height: 18px; text-decoration: none;}
#nav-main li a:hover{color:#008cc9;}
#nav-main li:hover, #nav-main li.selected, #nav-main li.over{text-decoration:none; background:#ffffff; color:#333333;}
#nav-main li:hover a{color:#333333;}
#nav-main li:hover a span.arrow-downWhite{background-position:100% -4673px !important; padding-right:15px;}
#nav-main li.first{border-left:none;}
#nav-main .icon-tiny{position:absolute; top:22px; right:12px; background-position:-1000px -17px;}

/* Navigation Hover */
#nav-main li ul{display:none; position: absolute; z-index: 10; margin-left:-1px; margin-top:0; border-top:0px; background:#FFFFFF; width:200px; list-style:none;}
#nav-main li:hover ul, #nav-main li.over ul {display: block;}
#nav-main li li{border:#45b6ea solid 1px; border-bottom:0px; background:#FFFFFF; width: 100%; font-size:13px;}
#nav-main li li a{line-height:20px; padding-top:8px; padding-bottom:8px; font-weight:normal; color:#008cc9;}
#nav-main li li a:hover{background:#e0f2fe;color:#008cc9;}
#nav-main li li a:active{background:#fff;}
#nav-main li li.last{border-bottom:#009be2 solid 1px;}
	
/*
--------------------- Création d'un projet-----------------------------------
*/
#consultprojectContainer {

padding:0px 0px 0px 20px;
font-size: 16px;

}

#profilContainer {

padding:0px 0px 0px 20px;
font-size: 16px;

}

#postprojectContainer {

padding:0px 0px 0px 20px;
font-size: 16px;

}

#inscriptionContainer {

padding:0px 0px 0px 20px;
font-size: 16px;

}

/* have to setup textbox width, height manully, for ie's sake */
#divProjectName{
	margin:0px;
	padding:0px;
	width:620px;
}

#project-name-hint {
   	display: none;
    position: absolute;
    right: 0px;
    bottom: 5px;
    width: 200px;
    margin-top: -4px;
    padding: 10px 12px;
    /* to fix IE6, I can't just declare a background-color,
    I must do a bg image, too!  So I'm duplicating the pointer.gif
    image, and positioning it so that it doesn't show up
    within the box */
    background: #FFFF99 url('../images/icones/hintpointer.png') no-repeat -10px 5px;
	
	border: 2px solid #FFFF00;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;

	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#000000;
	z-index:5;
	font-weight: normal; 
}

#project-description-hint {
   	display: none;
    position: absolute;
    right: -150px;
    top: 20px;
    width: 200px;
    margin-top: -4px;
    padding: 10px 12px;
    /* to fix IE6, I can't just declare a background-color,
    I must do a bg image, too!  So I'm duplicating the pointer.gif
    image, and positioning it so that it doesn't show up
    within the box */
    background: #FFFF99 url('../images/hintpointer.png') no-repeat -10px 5px;
	
	border: 2px solid #FFFF00;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;

	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#000000;
	z-index:5;
	font-weight: normal; 
}

#bidperiod-hint {
  	display: none;
    position: absolute;
    right: 400px;
    top: 60px;
    width: 200px;
    margin-top: -4px;
    padding: 10px 12px;
    /* to fix IE6, I can't just declare a background-color,
    I must do a bg image, too!  So I'm duplicating the pointer.gif
    image, and positioning it so that it doesn't show up
    within the box */
    background: #FFFF99 url('../images/hintpointer.png') no-repeat -10px 5px;
	
	border: 2px solid #FFFF00;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;

	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#000000;
	z-index:5;
	font-weight: normal; 
}
#project-name-err {display:none; width: 100%;}
#project-description-err {display:none; width: 100%;}
#bidperiod-err {display:none; width: 100%;}
.err-msg {color:#CC3333;}

.projectFormTextField {
	vertical-align: middle;
	font-family:Helvetica, Arial, sans-serif;
	font-size: 14px; 
	background-color: #FFFFFF; 
	border: 2px solid #d9d9d9;
	padding:4px;
	margin: 4px 4px 4px 0px;;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

/* Formulaire d'inscription */

#tbx_username_hint {
  	display: none;
    position: absolute;
    right: 0px;
    top: -45px;
    width: 200px;
    margin-top: -4px;
    padding: 10px 12px;
    /* to fix IE6, I can't just declare a background-color,
    I must do a bg image, too!  So I'm duplicating the pointer.gif
    image, and positioning it so that it doesn't show up
    within the box */
    background: #FFFF99 url('../images/hintpointer.png') no-repeat -10px 5px;
	
	border: 2px solid #FFFF00;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;

	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#000000;
	z-index:5;
	font-weight: normal; 
}

#tbx_email_hint {
  	display: none;
    position: absolute;
    right: 0px;
    top: -45px;
    width: 200px;
    margin-top: -4px;
    padding: 10px 12px;
    /* to fix IE6, I can't just declare a background-color,
    I must do a bg image, too!  So I'm duplicating the pointer.gif
    image, and positioning it so that it doesn't show up
    within the box */
    background: #FFFF99 url('../images/hintpointer.png') no-repeat -10px 5px;
	
	border: 2px solid #FFFF00;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;

	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#000000;
	z-index:5;
	font-weight: normal; 
}

#tbx_username_err{display:none; width: 100%;}
#tbx_email_err{display:none; width: 100%;}
.ok-msg {color:#009933;}

.half_column {
	float: left; 
	width: 50%; 
}

.gaf_textbox {
	-moz-border-radius: 5px 5px 5px 5px; 
	-webkit-border-radius: 5px 5px 5px 5px; 
	border: 2px solid #D9D9D9; 
	margin: 4px 4px 4px 0; 
	padding: 4px; 
	vertical-align: middle;
	height: 19px; 
	width: 370px;
	font-family: Helvetica,Arial,sans-serif; 
	font-size: 14px;
}

/* Skills */
span.chosen-skill {
	background-color: #82C5DF;
	border: 1px solid #0094CC;
	font-weight: bold; 
	padding: 8px 55px 8px 8px; 
    margin:0px 5px 0px 0px;
	-moz-border-radius: 5px 5px 5px 5px; 
	-webkit-border-radius: 5px 5px 5px 5px; 
}

.btn-remove-skill {
	position: relative; 
	right: -43px; 
	cursor: pointer; 
}

.chosen-skill-container {
	float: left; 
	padding: 10px 3px; 
}

/* Champs */
.big-textbox {
	width: 370px;
	height: 19px; 
}

.medium-textbox {
	width: 130px;
	height: 19px; 
}

.small-textbox {
	width: 35px;
	height: 19px; 
}

.ns_margin-none{margin:0px !important;}

.ns_right{float:right !important;}

/* Search results list */
	ul.ns_freelancer-list{margin:0 0 30px 0; padding:0; list-style-type:none; position:relative;}
	ul.ns_freelancer-list li{padding:20px 10px; border-bottom:1px dotted #cccccc; display:block; /* Fixed hover error in IE7 */ *zoom:1;}
	ul.ns_freelancer-list li h3{font-size:16px; float:left; padding:0 5px;}
	ul.ns_freelancer-list li p{font-size:12px;}
	ul.ns_freelancer-list li img{float:left; margin-right:15px; border:1px solid #cccccc;}
	ul.ns_freelancer-list li .ns_custom-icon{margin-top:2px;}
	ul.ns_freelancer-list li.ns_highlighted{background:#fffacf;}
	ul.ns_freelancer-list.ns_sponsored{border-bottom:10px solid #f8f7f7; margin-bottom:0!important;}
	ul.ns_freelancer-list.ns_sponsored li{border-bottom:1px solid #cccccc;}
	h2.ns_sponsored{padding:10px!important; border-bottom:1px solid #cccccc; background:#f8f7f7; margin-bottom:0!important; font-size:16px!important; font-weight:bold!important; color:#555555;}
	
	/* Ratings */
	ul.ns_freelancer-list li .ns_ratings-new, ul.ns_freelancer-list li .ns_earnings-container{float:left;} 
	ul.ns_freelancer-list li .ns_ratings-new{margin-right:40px;}
	ul.ns_freelancer-list li .ns_earnings-container{margin-top:-5px;width:100px;}
	ul.ns_freelancer-list li .ns_earnings-container .ns_ratings-num{margin:5px 0 0 7px;}
	ul.ns_freelancer-list li .ns_ratings-new .ns_ratings-num{margin-right:-25px;}
	
	/* Hover */
	ul.ns_freelancer-list li:hover{background:#eaf6fd;}
	ul.ns_freelancer-list li .ns_hover{width:250px; position:relative; display:none;}
	
/* Blue Gradient */
.ns_grad-blue, .ns_blue, .ns_form button.ns_blue, .ns_pagination .current, .ns_btn-big.ns_hire-me.ns_blue, .ns_notify.ns_info .ns_btn, ul.ns_entry-hover .ns_action-button:hover , ul.ns_action-tab .ns_action-button:hover  {
	background: #0083c8; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11c5ec', endColorstr='#0083c8'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#11c5ec), to(#0083c8)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #11c5ec,  #0083c8); /* for firefox 3.6+ */
}

/* Blue BTN Gradient */
a.ns_btn.ns_blue, a.ns_btn-small.ns_blue {background: #14d3f0; /* Old browsers */
		background: -moz-linear-gradient(top,  #14d3f0 0%, #0ab1e0 51%, #09a5db 52%, #0084c9 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14d3f0), color-stop(51%,#0ab1e0), color-stop(52%,#09a5db), color-stop(100%,#0084c9)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #14d3f0 0%,#0ab1e0 51%,#09a5db 52%,#0084c9 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #14d3f0 0%,#0ab1e0 51%,#09a5db 52%,#0084c9 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #14d3f0 0%,#0ab1e0 51%,#09a5db 52%,#0084c9 100%); /* IE10+ */
		background: linear-gradient(top,  #14d3f0 0%,#0ab1e0 51%,#09a5db 52%,#0084c9 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14d3f0', endColorstr='#0084c9',GradientType=0 ); /* IE6-9 */
}

/* Form Buttons */
button.ns_btn{display:block; display:inline-block; padding:10px 15px; margin:0px 10px 0px 0px; cursor:pointer; border:#ccc solid 1px; font-size:16px; font-weight:bold; color:#333333;}
button.ns_btn-small{display:block; display:inline-block; padding:10px 15px; margin:0px 10px 0px 0px; cursor:pointer; border:#ccc solid 1px; font-size:14px; font-weight:bold; color:#333333;}
button.ns_btn.ns_blue, button.ns_btn-small.ns_blue{color:#FFF; border:#169dd8 solid 1px !important; text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);}
button.ns_btn.ns_green, button.ns_btn-small.ns_green{color:#FFF; border:#319500 solid 1px !important; text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);}
button.ns_btn-small{padding:5px 10px !important; font-size:12px;}	

/* 
 * --------------- Banner ---------------
 */
 
#ns_banner-wrapper{height:300px; background:url(../images/menu.png) 0px -400px no-repeat;padding-top:20px;margin-bottom:10px; }
 
#ns_banner{width:920px; position:relative; background:url(../images/menu.png) bottom left no-repeat; color:#FFF; clear:both; margin-top:-10px; float:left; *margin-bottom:-20px;font-size:16px;}
#ns_banner .ns_copy{padding:30px 0 105px 20px;}
#ns_banner h1 {text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25); font-family: NeoSansMedium, Arial, Sans-serif!important; font-size:40px!important; letter-spacing:-1px; margin-bottom:0px; font-weight:normal; line-height:1em; color:#fff!important; border:none!important; padding-bottom:0!important;}
#ns_banner ul{margin-bottom:20px; padding:0px; list-style-type:none;}
#ns_banner ul li{margin:5px 0px; background:url(../img/sprite-icons.png?24) 0px -4192px no-repeat; height:20px; padding-left:25px; }
#ns_banner p{margin-bottom:15px;}
#ns_banner a.ns_bigbtn{width:235px;}
.ns_hero-form-container{ margin:40px 30px 0 0; background: #fff; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;    border:5px solid #c5e1f5; box-shadow: 3px 3px 3px #489cc3;    -webkit-box-shadow: 3px 3px 3px #489cc3; -moz-box-shadow: 3px 3px 3px #489cc3;    padding:20px 30px;    color:#fff;    text-align:center; float:right; width:260px}
.ns_hero-form-container h2{    color:#555555 !important;    font-weight:bold!important;    font-size:22px!important;    margin-bottom:10px;  border:none!important;  }
	
/*
Bottom banner
*/
#ns_bootom-banner-wrapper{height:300px; background:url(../images/menu.png) 0px -400px no-repeat;padding-top:20px;margin-bottom:10px; } 
#ns_bottom-banner{width:920px; position:relative; background:url(../images/menu.png) bottom left no-repeat; color:#FFF; clear:both; margin-top:-10px; float:left; *margin-bottom:-20px;font-size:16px;}

.span-one-third{width:250px}
.span-one-half{width:450px}
.row > [class*="span"] {
display: inline;
float: left;
margin-left: 20px;
}