/* CSS Document */

* {
	margin:0;
	padding:0;
}

p {
    margin: 7px 0 7px 0;
}

table .bordertable td {
    padding: 5px;
}

table .balancetable td {
    padding: 5px;
}

img {
	border:none;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#111111;	
}

h1{ 
    font-family:Arial, Verdana, Sans-serif;
	font-size:36px;
	color:#008BCB;
	font-weight:normal;
	padding-bottom:5px;
	margin-bottom:20px;
	letter-spacing:-1px; /* border-bottom:#008bcb solid 1px; */
}

.div_product_title h1.product_name_big {font-size:16px; font-weight:bold; letter-spacing: normal; color: #362F2D !important; text-decoration: underline;} /*Free Market h2 fix*/

h2 {
	color: #008bcb;
	font-size: 36px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
}

li {
	list-style-position: inside; 
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

.grid_4  {width:220px;}
.grid_6  {margin-left: 40px; width:300px;}
.grid_8  {margin-left: 40px; margin-right: 40px; width:600px;}
.grid_12 {margin:0 auto; position:relative; width:920px;}

.omega {margin-right: 0;}

.hide {
	display:none;
}

#wrapper{background:#fff; width:1000px; margin:0 auto; -webkit-box-shadow: 0px 0px 10px 3px #c8d9e9; -moz-box-shadow: 0px 0px 10px 3px #c8d9e9; box-shadow: 0px 0px 10px 3px #c8d9e9; }
#sky{background:url(../images/ciel.png) repeat-x #ecf6ff;}

/* 
 * --------------- Style de Header ---------------
 */
#header{
position:relative; 
background:url(../images/menu.png) 0 -140px;
position:relative;
background-repeat:repeat-x;
background-repeat-x: repeat;
background-repeat-y: no-repeat;
z-index:3; 
font-size:14px; 
line-height:1; 
clear:both; 
color:#333; 
height:50px;
}

.wrap{margin:0 auto; position:relative; width:920px;}
.logo{ background:url(../images/Logo-neoFreelance/Logo-neoF.png) no-repeat top left 10%; display:block; position:relative;}

/* Login box */
#login-wrap{ position:relative; display:block; right:0px; top:50px;}

#login{cursor:pointer; margin:0px 0px 0px 0px; background-color:#0d9bdd ;color:#ffffff;}
#login{outline:none; float:right;}

#profil{cursor:pointer; margin:0px 0px 0px 0px; border:#fff solid 1px; background-color:#008cc9 ;color:#ffffff;}
#profil{outline:none; float:right;}


#box-profil{float:right;display:none; width:280px; position:absolute; top:50px; right:0px; border:#CCC solid 5px; background:#FFF; z-index:10; padding:25px 30px 10px 30px;}

#box-login{float:right;display:none; width:280px; position:absolute; top:50px; right:0px; border:#CCC solid 5px; background:#FFF; z-index:10; padding:25px 30px 10px 30px;}
#box-login .field{padding-bottom:10px !important;}
#box-login .remember{float:left; padding-top:12px;}
#box-login .forgot{position: relative; left:2px; top:8px; right:0px;}
#box-login-icon { background-image:url(../images/icon_close1.png); position:absolute; top : 0; left: 0;}
#box-login a {color:#00CCCC;}

#username{width:260px;}
#passwd{width:190px;}
#loginpermanent {vertical-align: middle;}
.field {position:relative;}

/* Contenu des pages */

.content{ 
padding: 0px 10px 10px 10px;
margin: 0 auto; 
position:relative; 
border:none; 
width:920px; 
background:#fff; 
border-top:none;

    -webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;	
	
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
}

.menu-content{ 
padding: 10px 10px 0px 10px; 
margin:0 auto; 
position:relative; 
border:none; 
width:920px; 
background:#fff; 
border-top:none;

    -moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-o-border-radius-topleft: 10px;
	-o-border-top-left-radius: 10px;
	-ms-border-radius-topleft: 10px;
	-ms-border-top-left-radius: 10px;
	-khtml-border-radius-topleft: 10px;
	-khtml-border-top-left-radius: 10px;
 	border-top-left-radius: 10px;

    -moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-o-border-radius-topright: 10px;
	-o-border-top-right-radius: 10px;
	-ms-border-radius-topright: 10px;
	-ms-border-top-right-radius: 10px;
	-khtml-border-radius-topright: 10px;
	-khtml-border-top-right-radius: 10px;
	border-top-right-radius: 10px; 
}

#footer{ 
padding: 10px 10px 0px 10px; 
margin:0 auto;
position:relative; 
border:none; 
width:920px; height:160px;
background:#fff; 
border-top:none;

    -moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-o-border-radius-topleft: 10px;
	-o-border-top-left-radius: 10px;
	-ms-border-radius-topleft: 10px;
	-ms-border-top-left-radius: 10px;
	-khtml-border-radius-topleft: 10px;
	-khtml-border-top-left-radius: 10px;
 	border-top-left-radius: 10px;

    -moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-o-border-radius-topright: 10px;
	-o-border-top-right-radius: 10px;
	-ms-border-radius-topright: 10px;
	-ms-border-top-right-radius: 10px;
	-khtml-border-radius-topright: 10px;
	-khtml-border-top-right-radius: 10px;
	border-top-right-radius: 10px; 

    -webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;	
	
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;

}

#footer a{text-decoration:none; color:#008cc9;}
#footer a:hover{color:#00CCCC;}

#footer2{ 
padding: 10px 10px 0px 10px; 
margin:0 auto;
position:relative; 
border:none; 
width:920px; height:25px;
background:#0d9bdd; 
border-top:none;

    -moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-o-border-radius-topleft: 10px;
	-o-border-top-left-radius: 10px;
	-ms-border-radius-topleft: 10px;
	-ms-border-top-left-radius: 10px;
	-khtml-border-radius-topleft: 10px;
	-khtml-border-top-left-radius: 10px;
 	border-top-left-radius: 10px;

    -moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-o-border-radius-topright: 10px;
	-o-border-top-right-radius: 10px;
	-ms-border-radius-topright: 10px;
	-ms-border-top-right-radius: 10px;
	-khtml-border-radius-topright: 10px;
	-khtml-border-top-right-radius: 10px;
	border-top-right-radius: 10px; 

    -webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;	
	
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;

}
/* ---------------- Compétences --------------------*/

#box-skills{display:none; width:250px; height:250px; position:absolute; top:51px; right:0px; border:#CCC solid 5px; background:#FFF; z-index:10; padding:25px 30px 10px 30px;}

#chosen-skill{background:#FFF; border:#CCC solid 2px; padding:25px 30px 10px 30px;}

.skill{cursor: pointer;}

/*
 * --------------- Table des Projets -------------------
 */

.dataTable {
	width: 920;
	clear: both;
    table-layout: fixed;
    font-size:12px;
}

.dataTable th {
    color:#FFFFFF;
    font-weight: bold;
    padding: 10px 5px;
    background-color: #0084C1;
}

.dataTable thead tr th:first-child {
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-o-border-radius-topleft: 10px;
	-o-border-top-left-radius: 10px;
	-ms-border-radius-topleft: 10px;
	-ms-border-top-left-radius: 10px;
	-khtml-border-radius-topleft: 10px;
	-khtml-border-top-left-radius: 10px;
 	border-top-left-radius: 10px;
}

.dataTable thead tr th:last-child { /* last-child supported in IE9, FF>3, Saf>4, Ch>4, Op>10.10 */	
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-o-border-radius-topright: 10px;
	-o-border-top-right-radius: 10px;
	-ms-border-radius-topright: 10px;
	-ms-border-top-right-radius: 10px;
	-khtml-border-radius-topright: 10px;
	-khtml-border-top-right-radius: 10px;
	border-top-right-radius: 10px; 
}

.dataTable td { padding: 10px 5px; }
.dataTable tr:hover{ padding: 10px 5px; background-color:#eaf6fd;}
.dataTable td.right { text-align: right; }
.dataTable tbody tr { height: 35px; }

/* Numbered paging pour la pagination des pages pas encore de paginate active */
.pager {
height: 28px;
display: inline-block;
padding: 0 8px 0 6px;
line-height: 28px;
font-family: Arial,Helvetica,sans-serif;
font-weight: bold;
font-size: 14px;
color: #343434;
}

.paginate_button {
	border: 2px solid #AAA;
	border-radius: 5px;
	padding: 5px 8px;
	margin: 0 3px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    -o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.paginate_button { background-color: #FFF; }
.paginate_button:hover { background-color: #CCC; }
.paginate_active { background-color: #99B3FF; }

/* 
 * --------------- Navigation dans le menu Principal ---------------
 */
#nav-main-login-wrap{outline:none; float:right; margin:26px 0px 0px 0px; height:40px; background:url(../images/menu.png) no-repeat 0 -250px; z-index:8; clear:both; font-size:14px; color:#333333;}
#nav-main-login{list-style:none; font-size:15px; margin-left:15px; position:relative;}
#nav-main-login a:hover{text-decoration:none;}
#nav-main-login li{float:left; position:relative;}
#nav-main-login li a{float:left; position:relative; padding:15px 15px; display:block; line-height: 18px; text-decoration: none;}
#nav-main-login li a:hover{color:#008cc9;}
#nav-main-login li.first{border-left:none;}
#nav-main-login li li.last{border-bottom:#009be2 solid 1px;}

#menu-wrap{
height:50px; 

z-index:2;
clear:both;
font-size:14px;
color:#333333;
}

.menu {list-style:none; font-size:15px;}
.menu a:hover{text-decoration:none;}
.menu li{ float:left; position:relative; border-right:#45b6ea solid 1px; border-top:solid 1px #009be2; border-bottom:solid 1px #31aee8; margin:0px;}
.menu li a{color:#ffffff; padding:15px 15px; display:block; cursor:pointer; line-height: 18px; text-decoration: none;}
.menu li a:hover{color:#008cc9;}/* quand le pointeur est sur le texte*/
.menu li:hover, #nav-main li.selected, #nav-main li.over{text-decoration:none; background:#ffffff; color:#333333;}
.menu li:hover a{color:#333333;}
.menu li:hover a span.arrow-downWhite{background-position:100% -4673px !important; padding-right:15px;}

.menu li:first-child {
border-left:#45b6ea solid 1px;
}

.menu .icon-tiny{position:absolute; top:22px; right:12px; background-position:-1000px -17px;}

.menu li ul{display:none; position: absolute; z-index: 10; margin-left:-1px; margin-top:0; border-top:0px; background:#FFFFFF; width:200px; list-style:none;}
.menu li:hover ul, #nav-main li.over ul {display: block;}
.menu li li{border:#45b6ea solid 1px; border-bottom:0px; background:#FFFFFF; width: 100%; font-size:13px;}
.menu li li a{line-height:20px; padding-top:8px; padding-bottom:8px; font-weight:normal; color:#008cc9;}
.menu li li a:hover{background:#e0f2fe;color:#008cc9;}
.menu li li a:active{background:#fff;}
.menu li li.last{border-bottom:#009be2 solid 1px;}

/* pris de twitter A voir */
.nav li{list-style:none;position:relative;display:inline;}
.nav li a{position:relative;font-size:15px;color:#bbb;}
.nav li>a{display:block;padding:15px 15px;font-weight:bold;line-height:1;}
.nav>li>a{height:25px;}
.nav .active>a,.nav li a:hover{color:#fff;text-decoration:none;}
.nav .active>a,.nav .active>a:hover,.nav .dropdown.open .dropdown-toggle,.form-search.has-saved-searches.focus{background-color:#222;-webkit-box-shadow:inset 0 5px 10px rgba(0,0,0,.5);-moz-box-shadow:inset 0 5px 10px rgba(0,0,0,.5);box-shadow:inset 0 5px 10px rgba(0,0,0,.5);}
.secondary-nav{float:right;margin-left:6px;margin-right:0;}
.nav small{font-weight:normal;}
.nav i{float:left;margin:-4px 6px 0 0;}
.nav .active a{color:#fff;text-shadow:0 1px 0 rgba(0,0,0,.5);}


.droite{float:right;}
/*
--------------------- Création d'un projet-----------------------------------
*/
#freelancesContainer {

padding:0px 0px 0px 20px;
font-size: 16px;

}

#indexContainer {

padding:0px 0px 0px 20px;
font-size: 16px;

}

#consultprojectContainer {

padding:0px 0px 0px 20px;
font-size: 16px;

}

#profilContainer {

padding:0px 0px 0px 20px;
font-size: 16px;

}

#postprojectContainer {

padding:0px 0px 0px 20px;
font-size: 16px;

}

#inscriptionContainer {

padding:0px 0px 0px 20px;
font-size: 16px;

}

/* have to setup textbox width, height manully, for ie's sake */
#divProjectName{
	margin:0px;
	padding:0px;
	width:620px;
}

.hint {
   	display: none;
    position: absolute;

    width: 200px;
    margin-top: -4px;
    padding: 10px 12px;
    /* to fix IE6, I can't just declare a background-color,
    I must do a bg image, too!  So I'm duplicating the pointer.gif
    image, and positioning it so that it doesn't show up
    within the box */
    background: #FFFF99 url('../images/icones/hintpointer.png') no-repeat -10px 5px;
	
	border: 2px solid #FFFF00;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;

	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#000000;
	z-index:5;
	font-weight: normal; 
}

/* The pointer image is hadded by using another span */
.hint .hint-pointer {
    position: absolute;
    left: -10px;
    top: 5px;
    width: 10px;
    height: 19px;
    background: url('../images/icones/hintpointer.png') left top no-repeat;
    z-index:5; 
}

.clear {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
}

#passwd_match_msg {
  	display: none;
}

#project-name-err {display:none; width: 100%;}
#project-description-err {display:none; width: 100%;}
#bidperiod-err {display:none; width: 100%;}
.err-msg {color:#CC3333;}

.projectFormTextField {
	vertical-align: middle;
	font-family:Helvetica, Arial, sans-serif;
	font-size: 14px; 
	background-color: #FFFFFF; 
	border: 2px solid #d9d9d9;
	padding:4px;
	margin: 4px 4px 4px 0px;;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

/* Formulaire d'inscription */


#tbx_username_err{display:none; width: 100%;}
#tbx_email_err{display:none; width: 100%;}
.ok-msg {color:#009933;}

.half_column {
	float: left; 
	width: 50%; 
}

.gaf_textbox {
	-moz-border-radius: 5px 5px 5px 5px; 
	-webkit-border-radius: 5px 5px 5px 5px; 
	border: 2px solid #D9D9D9; 
	margin: 4px 4px 4px 0; 
	padding: 4px; 
	vertical-align: middle;
	height: 19px; 
	width: 370px;
	font-family: Helvetica,Arial,sans-serif; 
	font-size: 14px;
}

/* Skills */
span.chosen-skill {
	background-color: #82C5DF;
	border: 1px solid #0094CC;
	font-weight: bold; 
	padding: 8px 55px 8px 8px; 
    margin:0px 5px 0px 0px;
	-moz-border-radius: 5px 5px 5px 5px; 
	-webkit-border-radius: 5px 5px 5px 5px; 
}

.btn-remove-skill {
	position: relative; 
	right: -43px; 
	cursor: pointer; 
}

.chosen-skill-container {
	float: left; 
	padding: 10px 3px; 
}

/* Champs */
.big-textbox {
	width: 370px;
	height: 19px; 
}

.medium-textbox {
	width: 130px;
	height: 19px; 
}

.small-textbox {
	width: 35px;
	height: 19px; 
}

.ns_margin-none{margin:0px !important;}

.ns_right{float:right !important;}

/* Search results list */
	ul.ns_freelancer-list{margin:0 0 30px 0; padding:0; list-style-type:none; position:relative;}
	ul.ns_freelancer-list li{padding:20px 10px; border-bottom:1px dotted #cccccc; display:block; /* Fixed hover error in IE7 */ *zoom:1;}
	ul.ns_freelancer-list li h3{font-size:16px; float:left; padding:0 5px;}
	ul.ns_freelancer-list li p{font-size:12px;}
	ul.ns_freelancer-list li img{float:left; margin-right:15px; border:1px solid #cccccc;}
	ul.ns_freelancer-list li .ns_custom-icon{margin-top:2px;}
	ul.ns_freelancer-list li.ns_highlighted{background:#fffacf;}
	ul.ns_freelancer-list.ns_sponsored{border-bottom:10px solid #f8f7f7; margin-bottom:0!important;}
	ul.ns_freelancer-list.ns_sponsored li{border-bottom:1px solid #cccccc;}
	h2.ns_sponsored{padding:10px!important; border-bottom:1px solid #cccccc; background:#f8f7f7; margin-bottom:0!important; font-size:16px!important; font-weight:bold!important; color:#555555;}
	
	/* Ratings */
	ul.ns_freelancer-list li .ns_ratings-new, ul.ns_freelancer-list li .ns_earnings-container{float:left;} 
	ul.ns_freelancer-list li .ns_ratings-new{margin-right:40px;}
	ul.ns_freelancer-list li .ns_earnings-container{margin-top:-5px;width:100px;}
	ul.ns_freelancer-list li .ns_earnings-container .ns_ratings-num{margin:5px 0 0 7px;}
	ul.ns_freelancer-list li .ns_ratings-new .ns_ratings-num{margin-right:-25px;}
	
	/* Hover */
	ul.ns_freelancer-list li:hover{background:#eaf6fd;}
	ul.ns_freelancer-list li .ns_hover{width:250px; position:relative; display:none;}
	
/* Blue Gradient */
.ns_grad-blue, .ns_blue, .ns_form button.ns_blue, .ns_pagination .current, .ns_btn-big.ns_hire-me.ns_blue, .ns_notify.ns_info .ns_btn, ul.ns_entry-hover .ns_action-button:hover , ul.ns_action-tab .ns_action-button:hover  {
	background: #0083c8; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11c5ec', endColorstr='#0083c8'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#11c5ec), to(#0083c8)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #11c5ec,  #0083c8); /* for firefox 3.6+ */
}

/* Blue BTN Gradient */
a.ns_btn.ns_blue, a.ns_btn-small.ns_blue {background: #14d3f0; /* Old browsers */
		background: -moz-linear-gradient(top,  #14d3f0 0%, #0ab1e0 51%, #09a5db 52%, #0084c9 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14d3f0), color-stop(51%,#0ab1e0), color-stop(52%,#09a5db), color-stop(100%,#0084c9)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #14d3f0 0%,#0ab1e0 51%,#09a5db 52%,#0084c9 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #14d3f0 0%,#0ab1e0 51%,#09a5db 52%,#0084c9 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #14d3f0 0%,#0ab1e0 51%,#09a5db 52%,#0084c9 100%); /* IE10+ */
		background: linear-gradient(top,  #14d3f0 0%,#0ab1e0 51%,#09a5db 52%,#0084c9 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14d3f0', endColorstr='#0084c9',GradientType=0 ); /* IE6-9 */
}

/* Form Buttons */
button.ns_btn{display:block; display:inline-block; padding:10px 15px; margin:0px 10px 0px 0px; cursor:pointer; border:#ccc solid 1px; font-size:16px; font-weight:bold; color:#333333;}
button.ns_btn-small{display:block; display:inline-block; padding:10px 15px; margin:0px 10px 0px 0px; cursor:pointer; border:#ccc solid 1px; font-size:14px; font-weight:bold; color:#333333;}
button.ns_btn.ns_blue, button.ns_btn-small.ns_blue{color:#FFF; border:#169dd8 solid 1px !important; text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);}
button.ns_btn.ns_green, button.ns_btn-small.ns_green{color:#FFF; border:#319500 solid 1px !important; text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);}
button.ns_btn-small{padding:5px 10px !important; font-size:12px;}	

/* 
 * --------------- Banner ---------------
 */
 
#ns_banner-wrapper{height:300px; background:url(../images/menu.png) 0px -400px no-repeat;padding-top:20px;margin-bottom:10px; }
 
#ns_banner{width:920px; position:relative; background:url(../images/menu.png) bottom left no-repeat; color:#FFF; clear:both; margin-top:-10px; float:left; *margin-bottom:-20px;font-size:16px;}
#ns_banner .ns_copy{padding:30px 0 105px 20px;}
#ns_banner h1 {text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25); font-family: NeoSansMedium, Arial, Sans-serif!important; font-size:40px!important; letter-spacing:-1px; margin-bottom:0px; font-weight:normal; line-height:1em; color:#fff!important; border:none!important; padding-bottom:0!important;}
#ns_banner ul{margin-bottom:20px; padding:0px; list-style-type:none;}
#ns_banner ul li{margin:5px 0px; background:url(../img/sprite-icons.png?24) 0px -4192px no-repeat; height:20px; padding-left:25px; }
#ns_banner p{margin-bottom:15px;}
#ns_banner a.ns_bigbtn{width:235px;}
.ns_hero-form-container{ margin:40px 30px 0 0; background: #fff; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;    border:5px solid #c5e1f5; box-shadow: 3px 3px 3px #489cc3;    -webkit-box-shadow: 3px 3px 3px #489cc3; -moz-box-shadow: 3px 3px 3px #489cc3;    padding:20px 30px;    color:#fff;    text-align:center; float:right; width:260px}
.ns_hero-form-container h2{    color:#555555 !important;    font-weight:bold!important;    font-size:22px!important;    margin-bottom:10px;  border:none!important;  }
	
/*
Bottom banner
*/
#ns_bootom-banner-wrapper{height:300px; background:url(../images/menu.png) 0px -400px no-repeat;padding-top:20px;margin-bottom:10px; } 
#ns_bottom-banner{width:920px; position:relative; background:url(../images/menu.png) bottom left no-repeat; color:#FFF; clear:both; margin-top:-10px; float:left; *margin-bottom:-20px;font-size:16px;}

#banner{width:920px; position:relative; background:url(../images/menu.png) bottom left no-repeat; color:#000; clear:both; margin-top:-10px; float:left; *margin-bottom:-20px;font-size:16px;}
#banner .ns_copy{padding:30px 0 105px 20px;}
#banner h1 {text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25); font-family: NeoSansMedium, Arial, Sans-serif!important; font-size:40px!important; letter-spacing:-1px; margin-bottom:0px; font-weight:normal; line-height:1em; color:#000!important; border:none!important; padding-bottom:0!important;}
#banner ul{margin-bottom:20px; padding:0px; list-style-type:none;}
#banner ul li{margin:5px 0px; background:url(../img/sprite-icons.png?24) 0px -4192px no-repeat; height:20px; padding-left:25px; }
#banner p{margin-bottom:15px;}
#banner a.ns_bigbtn{width:235px;}


.span-un-quart{width:200px}
.span-one-half{width:450px}
.row > [class*="span"] {
display: inline;
float: left;
margin-left: 20px;
}

/*
LibertyLand.tv
*/

.plus{
	cursor: pointer;}
.left_c{
	padding-left:15px;}

#left{
	width:210px;  
	float:left;
	
	}
#center{
	padding-left:10px;
	float:left; 
	width:570px; 
	text-align:left;
	
	}
	
.submit{
     border:none;
     color:#fff;
     width:50px;
     height:23px;
}

.selectT {
font-family: Helvetica,Arial,sans-serif; 
font-size: 14px; 
width: 300px;
margin-top: 4px; 
/* margin-left: 4px; */ 
padding: 4px; 
-moz-border-radius: 5px 5px 5px 5px; 
border: 2px solid rgb(217, 217, 217); 
}

.selectP {
font-family: Helvetica,Arial,sans-serif; 
font-size: 14px; 
/*width: 300px;*/
margin-top: 4px; 
margin-left: 4px; 
padding: 4px; 
-moz-border-radius: 5px 5px 5px 5px; 
border: 2px solid rgb(217, 217, 217); 
}

/* ---------------- Profil ------------------------ */

ol, ul {
list-style: none;
list-style-type: none;
list-style-position: initial;
list-style-image: initial;
}

.dashboard{float:left;width:302px;}
.flipped-dashboard .dashboard{float:right;margin-left:10px;}
.flipped-dashboard .dashboard .chev-right{display:none;}
.dashboard .stats{background-color:#f9f9f9;}
.dashboard{
display:block;
padding: 0;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
margin: 0;
margin-top: 0px;
margin-right: 10px;
margin-bottom: 0px;
margin-left: 0px;
border: 0;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-style: initial;
border-color: initial;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

.mini-profile-footer .btn-group .dropdown-menu{right:auto;left:0;}
.mini-profile{font-size:12px;}
.mini-profile .list-link{padding-top:12px;padding-bottom:12px;border-bottom:0;}
.mini-profile img{float:left;}
.mini-profile .content{margin-left:42px;}
.mini-profile .fullname{display:block;font-size:14px;color:#333;}
.mini-profile .username{color:#999;}
.mini-profile .view-profile{display:block;}
.mini-profile .metadata{font-size:11px;}

.account-group{position:static;overflow: hidden; }
.spacer {
  clear: both;
}

.module {
margin-top:10px;
position: relative;
/*background-color:#0d9bdd;*/
height: 100%; 
display:block;
border: 1px solid #EEE;
border: 1px solid rgba(0, 0, 0, .1);
}
.module a{
color:#FFF;
text-decoration:none;
}
.module ul:first-child li:first-child .list-link, .module .flex-module:first-child {
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.module .list-link {
position: relative;
display: block;
padding: 8px 12px;
padding-top: 8px;
padding-right: 12px;
padding-bottom: 8px;
padding-left: 12px;
}

.module .list-link{
background-color:#0d9bdd;

-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.25);
-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.25);
}
.module .list-link:hover,.module .active .list-link{
background-color:#0d9bdd;
color:#333;
text-decoration:none;
}
.module .active .list-link{
font-weight:bold;
}

.module ul:last-child li:last-child .list-link, .module .flex-module:last-child {
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

.content-main{
float:right;
width:522px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}
.content-main .in-reply-to{position:relative;display:none;height:0;background:#f6f6f6;border-bottom:1px solid #ddd;-webkit-border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;border-radius:6px 6px 0 0;}
.content-main .open .in-reply-to,.content-main .animating .in-reply-to{display:block;}
.content-main .in-reply-to .tweet{padding-bottom:12px;border-bottom:1px solid #ddd;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.content-main .in-reply-to .tweet:last-child{border-bottom:0;}
.content-main .in-reply-to .expansion-container .tweet:first-child{border-bottom:1px solid #ddd;}
.content-main .in-reply-to .expansion-container:last-child .tweet:first-child{border-bottom:0;}
.content-main .in-reply-to .content-divider{top:auto;bottom:-1px;left:35px;}