/* CSS Document */
a,
a:link,
a:visited{ color: #009; }
a:hover,
a:active{ color: #900; }
a img{ border: 0; }

body{ min-width: 600px; }

body h1,
body h2,
body h3,
.title{ font-family: "Trebuchet MS", Verdana, sans-serif; }

.fixed_width{ font-family: "Monaco", "Courier New", "Courier", monospace; }

.clear:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* Rule to fix quirks-mode inheritance behavior */
table{ font-size: inherit; font-weight: inherit; font-style: inherit; font-variant: inherit; }

#copyright,
#legal{ white-space: nowrap; }

#plans_info td,
#account_plans td,
#info_content td{ white-space: normal; }

dt{ font-weight: bold; }
dd{ padding-bottom: 10px; }

form{ margin: 0px; padding: 0px; }

.icon_adjust img,
.icon_adjust img.help_button{ position: relative; top: 4px; margin-top: -4px; }

img.help_button{ position: relative; top: 3px; margin-top: -3px; }

.error_explanation{ color: #fff; margin: 20px 0 !important; border-top: 2px solid #700; border-bottom: 2px solid #700; background: #900; padding: 0 10px; }
.error_explanation h2{ color: #fff; border: 0; }
.error_explanation ul{ margin-left: 20px; }
.error_explanation ul li{ padding: 0; list-style-type: disc; }
.error_explanation a,
.error_explanation a:link,
.error_explanation a:visited,
.error_explanation a:hover { color: #fff; }

.panel .error_explanation{ color: #fff; margin: 0; position: relative; }
* html .panel .error_explanation{ left: 0; top: 0; }

table th a{ text-decoration: none; }

table.pretty { border: 1px solid #ccc; table-layout: fixed; border-collapse: collapse; width: 100%; }
table.pretty th { border: 1px solid #ccc; padding: 3px; font-weight: bold; text-align: left; background-color: #ccc; color: #444; }
table.pretty th a { text-decoration: none; color: #900; }
table.pretty td { border: 1px solid #ddd; padding: 3px; color: #666; font-size: 8pt; }
table.pretty td { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

table.centered th { text-align: center; }
table.centered td { text-align: center; }

table.invisible,
table.pretty table.invisible { border: 0px; border-collapse: collapse; }
table.invisible th,
table.pretty table.invisible th{ border: 0px; padding: 3px; text-align: left; }
table.invisible td,
table.pretty table.invisible td{ border: 0px; padding: 3px; }
table.invisible td td,
table.pretty table.invisible td td{ padding: 0px; }

.new_object{ background-color: #ffd; border: 1px solid #bb9; padding: 10px; margin: 10px; }
.notice{ background-color: #efe; border: 1px solid #bdb; padding: 10px; margin: 10px; }
.notice h3{ color: #585; }
 
.object_edit h2{ padding-top: 5px; color: #000; }
.object_edit textarea{ width: 100%; height: 100px; border: 1px solid #aaa; }
.object_edit input.title{ width: 100%; font-size: 15pt; border: 1px solid #aaa; }
.object_edit .actions{ text-align: right; margin-top: 10px; }
.object_edit .label{ margin-top: 10px; font-weight: bold; }
.object_edit .form_note{ text-align: right; font-size: 8pt; }
.object_edit .section{ margin-left: 0px; padding: 5px 10px; margin-top: 10px; }

.page_form h2{ padding-top: 15px; }
.page_form h3{ margin: 0 0 5px 0; padding: 5px 10px; color: #fff; background: #888; }
* html .page_form h3{ height: 1%; }
.page_form .error_explanation h3{ margin: 0; background: transparent; padding: 5px 0; color: #fff; }
.page_form textarea{ width: 100%; height: 100px; border: 1px solid #aaa; }
.page_form input[type=text],
.page_form input[type=password]{ border: 1px solid #aaa; }
.page_form input.title{ width: 100%; font-size: 15pt; border: 1px solid #aaa; }
.page_form input.title_right{ width: 100%; font-size: 15pt; border: 1px solid #aaa; text-align: right; }
.page_form span.title{ font-size: 15pt; }
.page_form .actions{ text-align: right; margin-top: 10px; }
.page_form .label{ margin-top: 10px; font-weight: bold; }
.page_form .panel{ background: #ececec; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px; margin: 0 0px 20px 0px; }
.page_form .form_note{ color: #666; font-size: 10px; font-style: italic; }
.page_form label.disabled{ color: #666; }
.page_form .section{ margin-left: 20px; border-left: 5px solid #cc9; padding: 5px 10px; margin-top: 10px; }
.page_form tr.separator td,
div.separator{ height: 1px; font-size: 0; background: none; visibility: hidden; padding: 10px; margin: 0; }
* html .page_form .separator{ display: none; }

div.note,
td.note,
table.pretty div.note,
table.pretty td.note,
table.invisible div.note,
table.invisible td.note{ font-size: 9px; margin: 0; padding: 0; }
p.note{ font-size: 9px; color: #555; margin: 0; padding: 0; }

.row_0{ background: #ececec; }
.row_1{ background: #fff; }

img.cvv{ position: relative; top: 4px; margin-right: 5px; }

.over{ color: #990000; font-weight: bold; }
.under{  }

.date_picker_link img{ position: relative; top: 2px; }

.date_picker{ display: none; position: absolute; left: 0; z-index: 1000; background-color: #fff; padding: 5px; border: 2px solid #ccc; }
.date_picker .actions{ text-align: right; margin: 5px 0 0 0; }
.date_picker table{ border: 1px solid #ccc; font-family: verdana, sans-serif; border-collapse: collapse; }

.date_picker th{ background: #fff; font-size: 10px; color: #333; text-align: center !important; border: 0; padding: 2px 0; }
.date_picker th a:hover{ background: #fff; }
.date_picker .day_labels th{ color: #333; background: #ccc; border: 1px solid #bbb; border-top: 0px; border-bottom: 1px solid #e4e4e4;  font-size: 9px; font-weight: normal; text-align: center; }

.date_picker td{ width: 18px; background-color: #fff; border: 1px solid #e4e4e4; font-size: 9px; text-align: left; padding: 0; }
.date_picker td.today{ background-color: #e4e4e4; }
.date_picker td.selected a{ background-color: #fcc; border: 1px solid #900; padding: 1px; }

.date_picker td a{ display: block; width: auto; padding: 2px; text-decoration: none; color: #333; }
.date_picker td a:hover{ color: #000; background-color: #CCDAFF; padding: 1px; border: 1px solid #6666FF; }

.date_picker .cancel_butt{ text-align: right; }
.date_picker .cancel_butt a{ font-size: 9px; color: #666; font-family: verdana, sans-serif; text-decoration: none; padding: 1px 2px; }
.date_picker .cancel_butt a:hover{ background-color: #fff; color: #000; }

.date_picker .nil_butt{ text-align: left; float: left; }
.date_picker .nil_butt a{ font-size: 9px; color: #666; font-family: verdana, sans-serif; text-decoration: none; padding: 1px 2px; }
.date_picker .nil_butt a:hover{ background-color: #fff; color: #000; }

/** Documentation **/

.documentation_wrapper:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .documentation_wrapper{ height: 1%; }

div.code_wrapper { padding: 3px; border: 1px solid #aaa; background: #e6e6dd;}
div.code_wrapper pre { margin: 0; }
.documentation_wrapper pre{ border: 1px solid #ccc; padding: 10px; margin: 10px; background: #f8f8ee 0 -5px repeat; }
.documentation_wrapper div>pre{ overflow: auto; border: 1px solid #ccc; padding: 10px; }
.documentation_wrapper pre code{ font-family: "Monaco", "Courier New", "Courier", monospace; font-size: 10px; line-height: 15px; }
* html .documentation_wrapper pre{ overflow-x: auto; width: 95%; padding-bottom: 30px; padding-top: 8px; line-height: 15px; }
* html .documentation_wrapper pre code{ font-size: 11px; }

.documentation_wrapper h1{ border-bottom: 2px solid #333; position: relative; clear: left; margin-bottom: 2px;}
.documentation_wrapper h2{ border-bottom: 2px solid #333; position: relative; clear: left; }
.documentation_wrapper h3{ border-bottom: 1px solid #333; position: relative; clear: left; }

/* has layout */
* html .documentation_wrapper h1,
* html .documentation_wrapper h2,
* html .documentation_wrapper h3{ width: 100%; }

.documentation_wrapper ul.documentation_index { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.documentation_wrapper ul.documentation_index li { display: inline; white-space: nowrap; color: #666;}

.documentation_wrapper dl:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .documentation_wrapper dl{ height: 1%;}
.documentation_wrapper dt{ float: left; clear: left; margin: 8px 0 5px 0; }
.documentation_wrapper dd{ float: left; margin: 8px 0 5px 5px;}
.documentation_wrapper dd.block{ clear: left; float: none; margin: 0; }
.documentation_wrapper dd.api_url{ position: relative; clear: left; float: none; margin: 0 15px 0 15px; padding: 3px 0 3px 0; border-bottom: 1px dotted #999; }
.documentation_wrapper dd.api_url div.actions{ position: absolute; right: 0px; bottom: 2px; margin-left: 15px; color: #900; }

.documentation_wrapper dd.no_float,
.documentation_wrapper dd.no_float dt{ float: none; clear: left; }
.documentation_wrapper dd.no_float dd{ margin: 5px; }

.documentation_wrapper dl dl{ margin: 0 0 0 12px; }
.documentation_wrapper dl dl dt{ margin: 0; }
.documentation_wrapper dl dl dd{ padding: 0; margin-left: 1em; }
.documentation_wrapper dl dl dt{ margin-left: 0; }

.documentation_wrapper .list_table{ }


.documentation_wrapper .code_wrapper .tag_read_write{ color: #013; }
.documentation_wrapper .code_wrapper .tag_read_write_tag{ color: #000; }
.documentation_wrapper .code_wrapper .tag_read_write_quote{ color: #000; }

.documentation_wrapper .code_wrapper .tag_read_only{ color: #922; }
.documentation_wrapper .code_wrapper .tag_read_only_tag{ color: #844; }
.documentation_wrapper .code_wrapper .tag_read_only_quote{ color: #844; }

.documentation_wrapper .code_wrapper .tag_instruct{ color: #cf2e2e; }
.documentation_wrapper .code_wrapper .tag_instruct_tag{ color: #bb2a2a; }
.documentation_wrapper .code_wrapper .tag_instruct_quote{ color: #bb2a2a; }

.documentation_wrapper .code_wrapper .tag_highlight{ color: #a28200; }
.documentation_wrapper .code_wrapper .tag_comment{ color: #8d8d6c; }

.documentation_wrapper h2 .documentation_link_top { position: absolute; bottom: 1px; right: 0px; font-size: 12px; font-weight: normal; }

.documentation_contents h2,
.documentation_contents h3{ margin-bottom: 3px; }
.documentation_contents ul{ margin: 0; padding-left: 0; list-style-type: none; }
.documentation_contents li{ margin-left: 0; padding-left: 10px; }

.documentation_wrapper .notice .documentation_index li{ list-style-type: none; margin-left: 0; padding-left: 0; }
.documentation_wrapper .notice h3{ border-bottom: 0; }
.documentation_wrapper .notice h2{ border-bottom: 1px solid #333; color: #010; }
.notice div.code_wrapper,
#help_content table.pretty div.code_wrapper{ border: 1px solid #aaa; background: #cec;}
.documentation_wrapper .notice pre,
#help_content.documentation_wrapper table.pretty pre{ background: #fff 0 -5px repeat; }

/***** IE *****/
* html img { behavior: url("/stylesheets/png.repair.htc"); }
* html .ie_height_fixer{ height: 1%; }








/* layout */

body { font-family: Verdana, Arial, sans-serif; font-size: 13px; line-height: 1.3; margin: 0; padding: 0px; color: #000; background: #1C1E24 0px top repeat; }

a,
a:link,
a:visited{ color: #004AAE;}
a:hover,
a:active{ color: #900; }

a img{ border: 0; }

h1,h2,h3,h4,.heading2{ font-family: "Trebuchet MS", Arial, sans-serif; }
.heading2{ font-size: 20px; font-weight: bold; margin: 0; padding: 5px 0; }

h1.grab{ font-size: 24px; text-align: center; margin: 10px 0 0 0; padding: 0; }
* html h1.grab{ font-size: 24px; padding-top: 10px; }
h2.grab{ font-size: 20px; color: #999; text-align: center; margin: 0 0 20px 0; padding: 0; }

.focus_hr{ width: 100%; height: 1px; border: 0; background: #ccc; }

h1 .small{ font-size: 14px; font-weight: bold; color: #999; }

.tl,
.tr,
.bl,
.br{ position: absolute; width: 15px; height: 15px; background: top right no-repeat; }
.tl{ top: 0; left: 0; }
.tr{ top: 0; right: 0; }
.bl{ bottom: 0; left: 0; }
.br{ bottom: 0; right: 0; }

#banner{ display: none; position: absolute; top: 0; right: 0; z-index: 1000; padding: 0; margin: 0; }

#wrapper{ padding: 0px; width: 900px; margin: 0 auto; border-right: 2px solid #112; border-bottom: 2px solid #112; background: #fff; }
#wrapper:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html #wrapper{ height: 1%; }

#sub_wrapper{ padding: 10px 0px; width: 900px; margin: 0 auto; border-right: 2px solid #112; border-top: 1px solid #223; border-bottom: 2px solid #112; background: #fff; }
#sub_wrapper #testimonies{ margin: 0 20px 0 20px !important; }

#header #main_nav{ position: absolute; bottom: 0px; right: 30px; margin: 0; padding: 0; list-style: none; font-size: 14px; }
#header #main_nav:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html #header #main_nav{ height: 1%; }

#header #main_nav li{ float: right; }
#header #main_nav a{ display: block;  background: no-repeat left top; margin: 0 0 0 10px; padding: 0 0 0 5px; }
#header #main_nav span{ display: block; background: no-repeat right top; padding: 5px 15px 4px 8px; text-decoration: none; font-weight: normal; color: #fff; }
#header #main_nav a:hover,
#header #main_nav a:hover span,
#header #main_nav li.active a,
#header #main_nav li.active a span{ background-position: 0% -60px; color: #333; }
#header #main_nav a:hover span,
#header #main_nav li.active a span{ background-position: 100% -60px; }

#header #aux_nav{ position: absolute; top: 0px; right: 30px; margin: 0; padding: 0; list-style: none; font-size: 12px; }
#header #aux_nav li{ color: #fff; float: left; background: no-repeat left bottom; margin: 0 0 0 10px; padding: 0 0 0 16px; }
#header #aux_nav a{ color: #fff; }
#header #aux_nav span{ display: block; background: no-repeat right bottom; padding: 3px 20px 6px 4px; text-decoration: none; font-weight: normal; }
#header #aux_nav form{ display: block; background: no-repeat left bottom;}
#header #aux_nav a:hover{ color: #9cf; }


#sidebar{ float: right; width: 220px; margin-top: 15px; padding: 0px 20px 10px 0px; position: relative; z-index: 9; }

#main{ float: left; width: 620px; margin: 0; padding: 0 20px; }
#main.wide{ width: 860px; }
#main:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html #main{ height: 1%; width: 610px; }

#content{ float: left; width: 100%; padding: 10px 0px 20px 0px; }

#header{ position: relative; width: 880px; height: 75px; background: #346BB0 left bottom no-repeat; border-bottom: 3px solid #223; border-right: 2px solid #223; margin: 0 auto; padding: 10px 10px 0 10px; }
#header a{ text-decoration: none; color: #900; }
#header h1{ margin: 0; padding: 0; font-size: 25px; }

#footer{ clear: both; width: 890px; margin: 0 auto; padding: 5px 10px 10px 10px; font-size: 11px; color: #aaa; }
#footer a{ color: #ccc; }
#footer span a{ color: #aaa; }

#help_footer{ clear: both; padding: 5px 10px 10px 10px; font-size: 11px; color: #888; }
#help_footer a{ color: #668; }

.policy_highlight{ text-transform: uppercase; }

#sign_up_now{ border: 2px solid #fc0; background: #ffd; padding: 5px 5px; font-size: 12px; text-align: center; margin: 10px auto 20px auto; position: relative; }
* html #sign_up_now{ height: 1%; }
#sign_up_now .tl{ width: 10px; height: 10px; top: -2px; left: -2px; }
#sign_up_now .tr{ width: 10px; height: 10px; top: -2px; right: -2px; }
#sign_up_now .bl{ width: 10px; height: 10px; bottom: -2px; left: -2px; }
#sign_up_now .br{ width: 10px; height: 10px; bottom: -2px; right: -2px; }
* html #sign_up_now .bl,
* html #sign_up_now .br{ bottom: -7px; }
#sign_up_now h2{ font-size: 18px; padding: 0 0 10px 0; margin: 0; }
#sign_up_now p{ padding: 0; margin: 0; }

#shout_out{ border: 2px solid #66A6DF; background: #DDEFFF; padding: 5px 5px; font-size: 12px; text-align: left; margin: 10px auto 20px auto; position: relative; }
* html #shout_out{ height: 1%; }
#shout_out .tl{ width: 10px; height: 10px; top: -2px; left: -2px; z-index: 8; }
#shout_out .tr{ width: 10px; height: 10px; top: -2px; right: -2px; z-index: 8; }
#shout_out .bl{ width: 10px; height: 10px; bottom: -2px; left: -2px; z-index: 8; }
#shout_out .br{ width: 10px; height: 10px; bottom: -2px; right: -2px; z-index: 8; }
* html #shout_out .bl,
* html #shout_out .br{ bottom: -7px; }
#shout_out .banner{ position: absolute; top: -12px; right: -12px; z-index: 10; }
#shout_out h2{ font-size: 18px; padding: 0 10px 10px 0px; margin: 0; }
#shout_out p{ padding: 0; margin: 0; }

#spread_the_word p{ margin: 0; padding: 0; color: #666; font-size: 11px; }

#recent_news_articles,
#spread_the_word,
#testimonies,
#sidebar_widget,
#sidebar_info,
#sidebar_focus{ margin: 0 7px; }
#spread_the_word,
#testimonies,
#sidebar_widget,
#sidebar_focus{ margin-top: 15px; }
#recent_news_articles h2,
#spread_the_word h2,
#testimonies h2,
#sidebar_widget h2,
#sidebar_info h2{ font-size: 18px; margin: 5px 0px; padding: 0px; }
#sidebar_info ul{ margin: 0; padding: 0; }
#sidebar_info ul li{ margin: 0 0 0 20px; padding: 0; }
#recent_news_articles ul{ list-style-type: none; margin: 0; padding: 0; }
#recent_news_articles ul li{ margin: 0px 0 4px 0; padding: 0 0 0 0px; font-size: 11px; }
#recent_news_articles .article_summary{ margin: 0; font-size: 10px; color: #666; }
#recent_news_articles .article_summary p{ margin: 0; padding: 0; }

#testimonies:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html #testimonies{ height: 1%; }
#testimonies .title{ font-size: 11px; color: #666; font-weight: bold; font-family: Verdana, sans-serif; }
#sub_wrapper #testimonies .title{ color: #333; }
#testimonies .quote,
#sidebar_focus p,
#sidebar_focus li{ margin: 2px 0px; padding: 0; color: #666; font-size: 11px; }
#sub_wrapper #testimonies .quote{ color: #555; font-weight: normal; }
#testimonies .author{ margin: 2px 3px 10px 0; font-size: 10px; color: #666; text-align: right; }
#sub_wrapper #testimonies .author{ font-size: 11px; color: #555; font-weight: normal; }

#signin_news{ padding: 0px; position: relative; border: 3px solid #eee; background: #f8f8f8; }
* html #signin_news{ height: 1%; }
#signin_news .content{ padding: 10px; }
#signin_news .tl{ width: 10px; height: 10px; top: -3px; left: -3px; }
#signin_news .tr{ width: 10px; height: 10px; top: -3px; right: -3px; }
#signin_news .bl{ width: 10px; height: 10px; bottom: -3px; left: -3px; }
#signin_news .br{ width: 10px; height: 10px; bottom: -3px; right: -3px; }
* html #signin_news .bl,
* html #signin_news .br{ bottom: -8px; }


/*#signin_news{ border: 3px solid #eee; background: #f8f8f8; padding: 10px; }*/
#signin_news h2{ font-size: 20px; margin: 5px 0px; padding: 0px; }
#signin_news h3{ font-size: 16px; margin: 5px 0px; padding: 0px; }
#signin_news p{ margin: 0; padding: 5px 0; }
#signin_news .signin_news_article{ margin: 0px 0px; }

#signin_news img.no_float{ float: none !important; }

#signin_news img.image_left,
#signin_news img.image_right,
#signin_news img.image_inline{ text-align: center; border: 1px solid #ccc; margin: 0; padding: 3px; background: #fff; }
#signin_news img.image_left{ float: left; margin: 0 10px 10px 0px; }
#signin_news img.image_right{ float: right; margin: 0 0 10px 10px; }
#signin_news img.image_inline{ display: block; margin: 0 auto; }

#signin_news .signin_news_article h2,
#signin_news .signin_news_article h3{ font-size: 16px; padding: 0; margin: 0; }
#signin_news .signin_news_article h2{ font-size: 20px; }
#signin_news .signin_news_article h3{ color: #000; margin-top: 10px; }
#signin_news .signin_news_article h2 a{ text-decoration: none; color: #333; }

#signin_news .signin_news_article h2,
#signin_news .signin_news_article h3,
#signin_news .signin_news_article h4{ clear: left; margin-left: 0; padding-left: 0; }




#policy_change p{ text-align: center; padding: 0px; font-size: 11px; color: #225; }

#notice{ border: 2px solid #700; background: #900; padding: 10px 35px; font-size: 18px; text-align: center; color: #fff; margin: 15px auto 20px auto; position: relative; }
#policy_change{ border: 2px solid #66A6DF; background: #DDEFFF; padding: 10px 35px; font-size: 18px; text-align: center; color: #fff; margin: 15px auto 20px auto; position: relative; }
* html #notice,
* html #policy_change{ height: 1%; }
#policy_change .tl{ width: 10px; height: 10px; top: -2px; left: -2px; z-index: 8; }
#policy_change .tr{ width: 10px; height: 10px; top: -2px; right: -2px; z-index: 8; }
#policy_change .bl{ width: 10px; height: 10px; bottom: -2px; left: -2px; z-index: 8; }
#policy_change .br{ width: 10px; height: 10px; bottom: -2px; right: -2px; z-index: 8; }
#notice .tl{ width: 10px; height: 10px; top: -2px; left: -2px; z-index: 8; }
#notice .tr{ width: 10px; height: 10px; top: -2px; right: -2px; z-index: 8; }
#notice .bl{ width: 10px; height: 10px; bottom: -2px; left: -2px; z-index: 8; }
#notice .br{ width: 10px; height: 10px; bottom: -2px; right: -2px; z-index: 8; }
* html #notice .bl,
* html #notice .br{ bottom: -15px; }
* html #policy_change .bl,
* html #policy_change .br{ bottom: -14px; }
#notice h2,
#policy_change h2{ font-size: 18px; padding: 0 10px 10px 0px; margin: 0; }
#notice p,
#policy_change p{ padding: 0; margin: 0; }

#error_explanation{ border: 2px solid #700; background: #900; padding: 10px 35px; color: #fff; margin: 15px auto 20px auto; position: relative; }
* html #error_explanation{ height: 1%; }
#error_explanation .tl{ width: 10px; height: 10px; top: -2px; left: -2px; z-index: 8; }
#error_explanation .tr{ width: 10px; height: 10px; top: -2px; right: -2px; z-index: 8; }
#error_explanation .bl{ width: 10px; height: 10px; bottom: -2px; left: -2px; z-index: 8; }
#error_explanation .br{ width: 10px; height: 10px; bottom: -2px; right: -2px; z-index: 8; }
* html #error_explanation .bl,
* html #error_explanation .br{ bottom: -7px; }
#error_explanation h2{ font-size: 18px; padding: 0 10px 10px 0px; margin: 0; color: #fff; }
#error_explanation p{ padding: 0; margin: 0; }

.panel{ background: #FFE09C !important; border: 3px solid #fc0 !important; margin: 0 0px 20px 0px; }
.panel h3{ background: #FFD476; color: #444; margin: 0 0 10px 0; padding: 5px 10px; }
.panel a{ color: #224; }
.panel a:hover{ color: #900; }
.panel input[type='text'],
.panel input[type='password']{ border: 1px solid #f4c300 !important; }


table.pretty { border: 1px solid #bdb; table-layout: fixed; border-collapse: collapse; width: 100%; clear: both; }
table.pretty th { border: 1px solid #bdb; background-color: #bdb; color: #343; }
table.pretty th a { color: #900; }
table.pretty td { border: 1px solid #D2EED2; padding: 3px; color: #565; font-size: 8pt; }
table.pretty .row_0{ background: #efe; }
table.pretty a.anchor,
table.pretty a.anchor:visited,
table.pretty a.anchor:hover,
table.pretty a.anchor:active{ color: #565; text-decoration: none; }

#bookmarks{ position: relative; float: left; padding: 5px 0; }
#bookmarks a{ padding: 0 5px 0 0; }
#bookmarks img{ position: relative; top: 2px; margin: 0 2px 0 0; }

.landing_pages{ font-size: 10px; text-align: center;  }

/* about */
#info_menu{ position: relative; border: 2px solid #ada; background: #dfd; text-align: center; padding: 10px 5px; margin-top: 15px; }
* html #info_menu{ height: 1%; }
#info_menu .tl{ width: 10px; height: 10px; top: -2px; left: -2px; }
#info_menu .tr{ width: 10px; height: 10px; top: -2px; right: -2px; }
#info_menu .bl{ width: 10px; height: 10px; bottom: -2px; left: -2px; }
#info_menu .br{ width: 10px; height: 10px; bottom: -2px; right: -2px; }
* html #info_menu .bl,
* html #info_menu .br{ bottom: -9px; }
#info_menu h2{ margin: 0; padding: 0; }
#info_menu ul{ display: block; margin: 0; padding: 5px 0 0 0; font-size: 13px; }
#info_menu ul li{ position: relative; top: 0px; list-style-type: none; padding: 0px; display: inline; margin-left: 0.5em; }
#info_menu ul li a.selected{ color: #900; }
#info_menu ul li img{ position: relative; top: 3px; margin: 0 3px 0 0; }

#info_menu_mini{ margin: 10px 0 0 0; background: transparent; border: 0; padding: 0; text-align: left; }
#info_menu_mini .tl,
#info_menu_mini .tr,
#info_menu_mini .bl,
#info_menu_mini .br{ display: none; }
#info_menu_mini h2{ font-size: 18px; margin: 5px 0px; padding: 0px; }
#info_menu_mini h3{ font-size: 14px; margin: 0px 0px; padding: 0px; }

#info_menu_mini ul{ display: block; margin: 10px 0 0 0; padding: 0; font-size: 12px; }
#info_menu_mini ul li{ position: relative; top: 0px; list-style-type: none; padding: 0px; display: inline; margin-right: 0.5em; }
* html #info_menu_mini ul li{ font-size: 11px; }

#info_content{ padding: 10px 0px; }
#info_content:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html #info_content{ height: 1%; }
#info_content img{ border: 1px solid #ccc; padding: 2px; margin-bottom: 10px; }
#info_content table img{ border: 0; padding: 0; margin: 0; }
#info_content h3{ }
#info_content h3,
#info_content p{ margin: 0 0 10px 0; padding: 0; }
#info_content table img{ float: none; margin: 0; }

#mini_screens{ background: #FFD476; border: 3px solid #fc0; padding: 7px; position: relative; }
#mini_screens:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html #mini_screens{ height: 1%; }
#mini_screens .tl{ top: -3px; left: -3px; }
#mini_screens .tr{ top: -3px; right: -3px; }
#mini_screens .bl{ bottom: -3px; left: -3px; }
#mini_screens .br{ bottom: -3px; right: -3px; }
* html #mini_screens .bl,
* html #mini_screens .br{ bottom: -5px; }
#mini_screens td h3 a,
#mini_screens td h3 a:link{ color: #444; text-decoration: none; display: block; }
#mini_screens td h3{ font-size: 16px; background: #FFE09C; color: #444; }
#mini_screens td h3,
#mini_screens td { text-align: center; margin: 0; }
#mini_screens td { font-size: 12px; font-family: Verdana, sans-serif; color: #58410E; padding: 5px 3; }
#mini_screens td img{ text-align: center; border: 1px solid #c90; margin: 0; padding: 3px; background: #fff; }
#mini_screens td a:hover img{ border-color: #999; }


/* help */

#help_bar { position: fixed; top: 0; left: 0; z-index: 1000; text-align: right; background-color: #eee; border-bottom: 1px solid #ccc; width: 100%; height: 35px; }
* html #help_bar{ position: absolute; }
#help_bar .content { padding: 10px; }
#help_content { padding: 35px 10px 10px 10px; min-height: 300px; border-bottom: 1px solid #ccc; }
* html #help_content{ height: 300px; }
#help_content h1{ font-size: 20px; }
#help_content p{ font-size: 12px; line-height: 1.3; }
#help_content table a{ position: relative; }
#help_content table.pretty td { white-space: normal; overflow: auto; text-overflow: ellipsis; }

/* faq */

#faq_toc{ position: relative; }
* html #faq_toc{ height: 1%; }
#faq_toc .tl{ top: -3px; left: -3px; }
#faq_toc .tr{ top: -3px; right: -3px; }
#faq_toc .bl{ bottom: -3px; left: -3px; }
#faq_toc .br{ bottom: -3px; right: -3px; }
* html #faq_toc .bl,
* html #faq_toc .br{ bottom: -5px; }

.faq_question{ background-color: #f8f8f8; border: 1px solid #ddd; padding: 10px; margin: 20px 0px; }
.faq_question h3{ padding-top: 0px; margin-top: 5px; }
.faq_question .code { font-family: monospace; background-color: #fff; border: 1px solid #ccc; margin: 10px; padding: 10px 10px 10px 50px; text-indent: -40px; }
.faq_question .documentation_wrapper h1{ display: none; }

/* account */
#account_new,
#account_new_plans,
#account_new_admin,
#account_new_terms,
#account_new_continue{ padding: 0; position: relative; }
* html #account_new,
* html #account_new_plans,
* html #account_new_admin,
* html #account_new_terms,
* html #account_new_continue{ height: 1%; }
#account_new .tl,
#account_new_admin .tl,
#account_new_terms .tl,
#account_new_continue .tl{ top: -3px; left: -3px; }
#account_new .tr,
#account_new_admin .tr,
#account_new_terms .tr,
#account_new_continue .tr{ top: -3px; right: -3px; }
#account_new .bl,
#account_new_admin .bl,
#account_new_terms .bl,
#account_new_continue .bl{ bottom: -3px; left: -3px; }
#account_new .br,
#account_new_admin .br,
#account_new_terms .br,
#account_new_continue .br{ bottom: -3px; right: -3px; }

#account_new_plans .tl{ top: -3px; left: -3px; }
#account_new_plans .tr{ top: -3px; right: -3px; }
#account_new_plans .bl{ bottom: -3px; left: -3px; }
#account_new_plans .br{ bottom: -3px; right: -3px; }

* html #account_new .bl,
* html #account_new .br,
* html #account_new_plans .bl,
* html #account_new_plans .br,
* html #account_new_admin .bl,
* html #account_new_admin .br,
* html #account_new_terms .bl,
* html #account_new_terms .br,
* html #account_new_continue .bl,
* html #account_new_continue .br{ bottom: -4px; }
#account_new h3,
#account_new_plans h3,
#account_new_admin h3,
#account_new_terms h3,
#account_new_continue h3{ padding: 5px 15px; }
#account_new_terms .actions{ padding: 10px 15px; margin-top: 0; }

.signup_button{ display: block; width: 72px; height: 20px; margin: 3px auto; background: transparent top left no-repeat; }
th > .signup_button{ }
th > .signup_button:hover{ }

#signup_info h3{ margin: 15px 0 0 0; padding: 0; }
#signup_info p{ margin: 5px 0 10px 0; padding: 0; }

#account_signin,
#admin_signin,
#email_optout,
#account_password_reminder{ padding: 10px; position: relative; }
* html #account_signin,
* html #admin_signin,
* html #email_optout,
* html #account_password_reminder{ height: 1%; }
#account_signin .clear{ width: 100%; clear: both; }
* html #account_signin .clear{ display: none; }
* html #sign_in_openid{ padding-bottom: 1px; }
#account_signin .tl,
#admin_signin .tl,
#email_optout .tl,
#account_password_reminder .tl{ top: -3px; left: -3px; }
#account_signin .tr,
#admin_signin .tr,
#email_optout .tr,
#account_password_reminder .tr{ top: -3px; right: -3px; }
#account_signin .bl,
#admin_signin .bl,
#email_optout .bl,
#account_password_reminder .bl{ bottom: -3px; left: -3px; }
#account_signin .br,
#admin_signin .br,
#email_optout .br,
#account_password_reminder .br{ bottom: -3px; right: -3px; }

* html #account_signin .bl,
* html #admin_signin .bl,
* html #account_signin .br,
* html #admin_signin .br{ bottom: -5px; }
* html #account_password_reminder .bl,
* html #account_password_reminder .br{ bottom: -5px; }

#account_signin h3,
#admin_signin h3,
#account_password_reminder h3{ padding: 5px 15px; }
#account_signin .actions,
#admin_signin .actions,
#account_password_reminder .actions{ padding: 10px 15px; }
#account_signin .actions:after,
#admin_signin .actions:after,
#account_password_reminder .actions:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html #account_signin .actions,
* html #admin_signin .actions,
* html #account_password_reminder .actions{ height: 1%; }


#openid_url{ background: #FFFFFF no-repeat scroll 2px 50%; padding-left: 25px; width: auto; }
#account_signin .signin_type_select{ padding: 0 0 6px 0; text-align: right; padding-right: 7px; }

#billing_info{ padding: 0; position: relative; }
* html #billing_info{ height: 1%; }
#billing_info .tl{ top: -3px; left: -3px; }
#billing_info .tr{ top: -3px; right: -3px; }
#billing_info .bl{ bottom: -3px; left: -3px; }
#billing_info .br{ bottom: -3px; right: -3px; }
* html #billing_info .bl,
* html #billing_info .br{ bottom: -5px; }
#billing_info h3{ padding: 5px 15px; }
#billing_info .actions{ padding: 10px 15px; }

#account_new,
#billing_info{ padding: 0; }
#account_new .actions,
#billing_info .actions{ margin: 0 10px 10px 0; }

#plans_and_pricing{ float: left; width: 100%; padding: 0px; position: relative; border: 2px solid #ada; background: #dfd; }
* html #plans_and_pricing{ height: 1%; }
#plans_and_pricing .tl{ width: 10px; height: 10px; top: -2px; left: -2px; }
#plans_and_pricing .tr{ width: 10px; height: 10px; top: -2px; right: -2px; }
#plans_and_pricing .bl{ width: 10px; height: 10px; bottom: -2px; left: -2px; }
#plans_and_pricing .br{ width: 10px; height: 10px; bottom: -2px; right: -2px; }
* html #plans_and_pricing .bl,
* html #plans_and_pricing .br{ bottom: -8px; }
#plans_and_pricing table.pretty,
#plans_and_pricing table.pretty th,
#plans_and_pricing table.pretty td{ border: 0; color: #333; white-space: normal; }
#plans_and_pricing table.pretty th{ background: #C0F0C0; color: #333; }
#plans_and_pricing table.pretty .row_0 td{ background: transparent; }
#plans_and_pricing table.pretty th,
#plans_and_pricing table.pretty td{ padding-left: 10px; padding-right: 10px; }


/*Signup*/
.select_a_plan #plans_and_pricing{ float: left; width: 100%; padding: 0px; position: relative; border: 3px solid #fc0; background: #ffd; }
.select_a_plan * html #plans_and_pricing{ height: 1%; }
.select_a_plan #plans_and_pricing .tl{ width: 15px; height: 15px; top: -3px; left: -3px; }
.select_a_plan #plans_and_pricing .tr{ width: 15px; height: 15px; top: -3px; right: -3px; }
.select_a_plan #plans_and_pricing .bl{ width: 15px; height: 15px; bottom: -3px; left: -3px; }
.select_a_plan #plans_and_pricing .br{ width: 15px; height: 15px; bottom: -3px; right: -3px; }
.select_a_plan * html #plans_and_pricing .bl,
.select_a_plan * html #plans_and_pricing .br{ bottom: -8px; }
.select_a_plan #plans_and_pricing table.pretty,
.select_a_plan #plans_and_pricing table.pretty th,
.select_a_plan #plans_and_pricing table.pretty td{ border: 0; color: #333; white-space: normal; }
.select_a_plan #plans_and_pricing table.pretty th{ background: #FFD476; color: #333; }
.select_a_plan #plans_and_pricing table.pretty .row_0 td{ background: #ffd; }
.select_a_plan #plans_and_pricing table.pretty .row_1 td{ background: #ffe09c; }
.select_a_plan #plans_and_pricing table.pretty th,
.select_a_plan #plans_and_pricing table.pretty td{ padding-left: 10px; padding-right: 10px; }


/* account settings */
#account_plans #plans_and_pricing{ float: none; border: 0; background: transparent; padding: 10px 0 20px 0; }
#account_plans #plans_and_pricing table{ border-left: 0; border-right: 0; border-bottom: 0; border-top: 1px solid #bcb; }
#account_plans #plans_and_pricing .row_0 td{ background: #efe; color: 000; }
#account_plans #plans_and_pricing .row_1 td{ background: #fff; color: 000; }

#account_plans #plans_and_pricing th,
#account_plans #plans_and_pricing td{ padding: 2px; text-align: center; color: 000; }
#account_plans #plans_and_pricing th{ border-left: 1px solid #bcb; border-right: 1px solid #aba; border-bottom: 1px solid #bcb; }
#account_plans #plans_and_pricing td{ border: 1px solid #D2EED2; }

#account_plans #plans_and_pricing th.selected_column{ background: #13aa33; color: #fff; border-top: 1px solid #aca; }
#account_plans #plans_and_pricing .row_0 .selected_column{ background: #aea; color: #000; }
#account_plans #plans_and_pricing .row_1 .selected_column{ background: #dfd; color: #000; }

#account_plans #plans_and_pricing .current_plan th{ padding: 5px; color: #fff; background: #ada; border-left: 1px solid #aca; border-right: 1px solid #aca; border-top: 1px solid #aca !important; text-align: left; }
#account_plans #plans_and_pricing .row_0 .current_column{ border-left: 1px solid #999; }
#account_plans #plans_and_pricing .row_1 .current_column{ border-left: 1px solid #999; }
#account_plans #plans_and_pricing th.current_column{ background: #333; color: #fff; border: 1px solid #333; }


/* support */

.bullet_one,
.bullet_two,
.bullet_three,
.bullet_four,
.bullet_five{ padding-left: 80px; padding-top: 4px; margin-top: 20px; }

.bullet_one h2,
.bullet_two h2,
.bullet_three h2,
.bullet_four h2,
.bullet_five h2{ margin-top: 0; margin-bottom: 5px; }

.bullet_one p,
.bullet_two p,
.bullet_three p,
.bullet_four p,
.bullet_five p{ margin: 0; padding: 0;}

.bullet_one{ background: top left no-repeat; }
.bullet_two{ background: top left no-repeat; }
.bullet_three{ background: top left no-repeat; }
.bullet_four{ background: top left no-repeat; }
.bullet_five{ background: top left no-repeat; }

#server_time{ position: absolute; top: 20px; right: 30px; font-size: 11px; color: #fff; }

.support_stats_panel{ font-size: 11px; border: 1px solid #fc0; background: #ffd; padding: 10px; margin: 10px; }
.support_stats_panel h2{ padding: 0 0 10px 0; margin: 0; }
h2.chart_title{ text-align: center; }
.billing_error{ background-color: #fcc; }


.documentation_wrapper pre{ background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/code.bg.gif); }
.documentation_wrapper .notice pre,
#help_content.documentation_wrapper table.pretty pre{ background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/code.notice.bg.gif); }
body { background-image: url(http://2.marketing.assets.unfuddle.com/0.0.9/images/body_page.jpg); }
.tl{ background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/tl.yellow.gif); }
.tr{ background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/tr.yellow.gif); }
.bl{ background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/bl.yellow.gif); }
.br{ background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/br.yellow.gif); }
#header #main_nav a{background-image: url(http://2.marketing.assets.unfuddle.com/0.0.9/images/tab_page_left_both.gif); }
#header #main_nav span{background-image:url(http://1.marketing.assets.unfuddle.com/0.0.9/images/tab_page_right_both.gif); }
#header #aux_nav li{background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/tab_hanging_left_both.gif); }
#header #aux_nav span{background-image: url(http://0.marketing.assets.unfuddle.com/0.0.9/images/tab_hanging_right_both.gif); }
#header #aux_nav form{background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/tab_hanging_middle.gif); }
#header{background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/header_page.jpg);}
#sign_up_now .tl{background-image: url(http://2.marketing.assets.unfuddle.com/0.0.9/images/tl.yellow.small.gif); }
#sign_up_now .tr{background-image: url(http://0.marketing.assets.unfuddle.com/0.0.9/images/tr.yellow.small.gif); }
#sign_up_now .bl{background-image: url(http://0.marketing.assets.unfuddle.com/0.0.9/images/bl.yellow.small.gif); }
#sign_up_now .br{background-image: url(http://2.marketing.assets.unfuddle.com/0.0.9/images/br.yellow.small.gif); }
#shout_out .tl{background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/tl.blue.gif); }
#shout_out .tr{background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/tr.blue.gif); }
#shout_out .bl{background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/bl.blue.gif); }
#shout_out .br{background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/br.blue.gif); }
#signin_news .tl{background-image: url(http://2.marketing.assets.unfuddle.com/0.0.9/images/tl.grey.gif); }
#signin_news .tr{background-image: url(http://0.marketing.assets.unfuddle.com/0.0.9/images/tr.grey.gif); }
#signin_news .bl{background-image: url(http://0.marketing.assets.unfuddle.com/0.0.9/images/bl.grey.gif); }
#signin_news .br{background-image: url(http://2.marketing.assets.unfuddle.com/0.0.9/images/br.grey.gif); }
#policy_change .tl{background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/tl.blue.gif); }
#policy_change .tr{background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/tr.blue.gif); }
#policy_change .bl{background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/bl.blue.gif); }
#policy_change .br{background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/br.blue.gif); }
#notice .tl{background-image: url(http://2.marketing.assets.unfuddle.com/0.0.9/images/tl.red.gif); }
#notice .tr{background-image: url(http://0.marketing.assets.unfuddle.com/0.0.9/images/tr.red.gif); }
#notice .bl{background-image: url(http://0.marketing.assets.unfuddle.com/0.0.9/images/bl.red.gif); }
#notice .br{background-image: url(http://2.marketing.assets.unfuddle.com/0.0.9/images/br.red.gif); }
#error_explanation .tl{background-image: url(http://2.marketing.assets.unfuddle.com/0.0.9/images/tl.red.gif); }
#error_explanation .tr{background-image: url(http://0.marketing.assets.unfuddle.com/0.0.9/images/tr.red.gif); }
#error_explanation .bl{background-image: url(http://0.marketing.assets.unfuddle.com/0.0.9/images/bl.red.gif); }
#error_explanation .br{background-image: url(http://2.marketing.assets.unfuddle.com/0.0.9/images/br.red.gif); }
#info_menu .tl{background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/tl.green.small.gif); }
#info_menu .tr{background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/tr.green.small.gif); }
#info_menu .bl{background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/bl.green.small.gif); }
#info_menu .br{background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/br.green.small.gif); }
#mini_screens .tl{background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/tl.yellow.gif); }
#mini_screens .tr{background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/tr.yellow.gif); }
#mini_screens .bl{background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/bl.yellow.gif); }
#mini_screens .br{background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/br.yellow.gif); }
#faq_toc .tl{background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/tl.yellow.gif); }
#faq_toc .tr{background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/tr.yellow.gif); }
#faq_toc .bl{background-image: url(http://0.marketing.assets.unfuddle.com/0.0.9/images/bl.yellow.medium.gif); }
#faq_toc .br{background-image: url(http://2.marketing.assets.unfuddle.com/0.0.9/images/br.yellow.medium.gif); }
#account_new .tl,
#account_new_admin .tl,
#account_new_terms .tl,
#account_new_continue .tl{background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/tl.yellow.gif); }
#account_new .tr,
#account_new_admin .tr,
#account_new_terms .tr,
#account_new_continue .tr{background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/tr.yellow.gif); }
#account_new .bl,
#account_new_admin .bl,
#account_new_terms .bl,
#account_new_continue .bl{background-image: url(http://0.marketing.assets.unfuddle.com/0.0.9/images/bl.yellow.medium.gif); }
#account_new .br,
#account_new_admin .br,
#account_new_terms .br,
#account_new_continue .br{background-image: url(http://2.marketing.assets.unfuddle.com/0.0.9/images/br.yellow.medium.gif); }

#account_new_plans .tl{background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/tl.yellow.gif); }
#account_new_plans .tr{background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/tr.yellow.gif); }
#account_new_plans .bl{background-image: url(http://0.marketing.assets.unfuddle.com/0.0.9/images/bl.yellow.medium.gif); }
#account_new_plans .br{background-image: url(http://2.marketing.assets.unfuddle.com/0.0.9/images/br.yellow.medium.gif); }

th > .signup_button{ background-image: url(http://2.marketing.assets.unfuddle.com/0.0.9/images/signup.idle.png); }
th > .signup_button:hover{ background-image: url(http://0.marketing.assets.unfuddle.com/0.0.9/images/signup.active.png); }

#openid_url{ background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/icons/openid_small_logo_white.gif); }
#billing_info .tl{background-image: url(http://2.marketing.assets.unfuddle.com/0.0.9/images/tl.yellow.medium.gif); }
#billing_info .tr{background-image: url(http://0.marketing.assets.unfuddle.com/0.0.9/images/tr.yellow.medium.gif); }
#billing_info .bl{background-image: url(http://0.marketing.assets.unfuddle.com/0.0.9/images/bl.yellow.medium.gif); }
#billing_info .br{background-image: url(http://2.marketing.assets.unfuddle.com/0.0.9/images/br.yellow.medium.gif); }
#plans_and_pricing .tl{background-image: url(http://0.marketing.assets.unfuddle.com/0.0.9/images/tl.green.dark.gif); }
#plans_and_pricing .tr{background-image: url(http://2.marketing.assets.unfuddle.com/0.0.9/images/tr.green.dark.gif); }
#plans_and_pricing .bl{background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/bl.green.medium.gif); }
#plans_and_pricing .br{background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/br.green.medium.gif); }
.select_a_plan #plans_and_pricing .tl{background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/tl.yellow.gif); }
.select_a_plan #plans_and_pricing .tr{background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/tr.yellow.gif); }
.select_a_plan #plans_and_pricing .bl{background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/bl.yellow.light.gif); }
.select_a_plan #plans_and_pricing .br{background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/br.yellow.light.gif); }
.bullet_one{ background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/bullet.one.gif); }
.bullet_two{ background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/bullet.two.gif); }
.bullet_three{ background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/bullet.three.gif); }
.bullet_four{ background-image: url(http://3.marketing.assets.unfuddle.com/0.0.9/images/bullet.four.gif); }
.bullet_five{ background-image: url(http://1.marketing.assets.unfuddle.com/0.0.9/images/bullet.five.gif); }


